<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>{{title}}</title>
    <style>
        html, body, #map-canvas {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px
        }
    </style>
    <script>
    var distance = "{{ distance }}";
    var lineOrColor = "{{ lineOrColor }}";
    var price = "{{ price }}";
    var days = "{{ days }}";
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/blocket/javascripts/google-maps.js"></script>
</head>
<body>
<div id="map-canvas"></div>
</body>
</html>